<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="6.7.0" targetFramework="net48" developmentDependency="true" />
  <package id="Google.Protobuf" version="3.23.1" targetFramework="net48" />
  <package id="Keras.NET" version="3.8.5" targetFramework="net472" />
  <package id="MathNet.Numerics" version="5.0.0" targetFramework="net472" />
  <package id="MethodBoundaryAspect.Fody" version="2.0.148" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Numpy.Bare" version="3.8.1.25" targetFramework="net472" />
  <package id="NumSharp" version="0.30.0" targetFramework="net472" />
  <package id="OneOf" version="3.0.243" targetFramework="net48" />
  <package id="OpenCvSharp4" version="4.7.0.20230115" targetFramework="net472" />
  <package id="OpenCvSharp4.runtime.win" version="4.7.0.20230115" targetFramework="net472" />
  <package id="OxyPlot.Core" version="2.1.2" targetFramework="net48" />
  <package id="OxyPlot.Wpf" version="2.1.2" targetFramework="net48" />
  <package id="OxyPlot.Wpf.Shared" version="2.1.2" targetFramework="net48" />
  <package id="Protobuf.Text" version="0.7.0" targetFramework="net48" />
  <package id="pythonnet_netstandard_py38_win" version="2.5.1" targetFramework="net472" />
  <package id="Serilog" version="2.12.0" targetFramework="net48" />
  <package id="Serilog.Sinks.Console" version="4.1.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.7.3" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="TensorFlowSharp" version="1.15.1" targetFramework="net472" />
</packages>